.main-nav--level-1 {
    background:#282828;
    left:-100%;
    position:absolute;
    top:0;
        -webkit-transition:left .3s linear;
        -moz-transition:left .3s linear;
        -ms-transition:left .3s linear;
    transition:left .3s linear;
    z-index:1;
}
.main-nav--level-1 {
    width:80%;
    overflow:auto;
}
.main-nav--level-1.is-open {
    left:0;
}
.main-nav__item {
    border-bottom:1px solid rgba(#fff, .25);
    list-style:none outside;
    padding:0;
    position:relative;
}
.main-nav__link {
    @include padding();
    color:#fff;
    display:block;
    font-weight:bold;
    text-decoration:none;
}
.level-1__link {
    text-transform:uppercase;
}
.main-nav__icon {
    color:rgba(255, 255, 255, 0.45);
    height:30px;
    margin:0 10px 0 5px;
    vertical-align:-4px;
    width:30px;
}
.main-nav-level-2__list {
    @include padding-x(0, ($spacing-lg * 1.2));
    list-style:none outside;
}
.main-nav-level-2__link {
    color:rgba(#fff, .75);
    text-decoration:none;
}
.sub-nav__toggle {
    @include animate(transform);
    @include padding();
    @include position-tr();
    color:#fff;
    text-decoration:none;

    &.active {
        @include rotate(180deg);
    }

}